# Print Statements

In [4]:
a=10      # only takes last assigned value
b=20

a
b

20

In [5]:
print(a)
print(b)

10
20

In [6]:
print(10)
print(10,20)
print('Python')
print(10,20,'Python')

10
10 20
Python
10 20 Python

In [7]:
 c=a+b
print(c)

30

In [12]:
n1=20
n2=30
add=n1+n2
print('The addition of', n1, 'and', n2,'is =',add)

The addition of 20 and 30 is = 50

In [16]:
name = 'Python'
age =25
city = 'hyd'

print('Hello, my name is',name,'and i am',age,'years old from',city)

Hello, my name is Python and i am 25 years old from hyd

# Print format method

In [19]:
n1=25
n2=35
add=n1+n2

print('The addition of {} and {} is = {}'.format(n1,n2,add))

The addition of 25 and 35 is = 60

In [20]:
print('Hello, my name is {}, and i am {} years old from {}'.format(name,age,city))

Hello, my name is Python, and i am 25 years old from hyd

In [27]:
a1=75
a2=46
a3=79

avg=(a1+a2+a3)/3

avg1=round((a1+a2+a3)/3,2)  # round off values upto 2digits after decimal

print('The average of {}, {} and {} is = {} or {}'.format(a1,a2,a3,avg,avg1))

The average of 75, 46 and 79 is = 66.66666666666667 or 66.67

# f string method

In [30]:
print(f'The average of {a1} , {a2} and {a3} is = {avg}') 

# here print(f,   )    not print(   )

The average of 75 , 46 and 79 is = 66.66666666666667

In [33]:
print(f'Hello my name is {name} and i am {age} years old from {city}')

# here print(f,   )    not print(   )

Hello my name is Python and i am 25 years old from hyd

In [38]:
b1 = 10
b2 = 20
b3 = 30
add = b1+b2+b3

print('The addition of', b1, b2,'and',b3, 'is =',add)
print('The addition of {},{} and {} is = {}'.format(b1,b2,b3,add))
print(f'The addition of {b1},{b2} and {b3} is = {add}')

The addition of 10 20 and 30 is = 60
The addition of 10,20 and 30 is = 60
The addition of 10,20 and 30 is = 60

# End statement

In [39]:
print('Hello')
print('Good morning')

Hello
Good morning

In [42]:
print('Hello',end=' ')   # adding one string to another to make a line or statement
print('Good morning')

Hello Good morning

# Seperator

In [43]:
print('Hello','Hi','How are you')

Hello Hi How are you

In [49]:
print('Hello','Hi','How are you',sep ='--->')

print('Hello','Hi','How are you',sep =' & ')

print('Hello','Hi','How are you',sep =' and ')

print('Hello','Hi','How are you',sep =' @ ')
# seperating strings with given argument

Hello--->Hi--->How are you
Hello & Hi & How are you
Hello and Hi and How are you
Hello @ Hi @ How are you

In [50]:
print(3,'.')

3 .

In [53]:
print(3,'.',sep='')

# sep also used to bring far arguments near

3.

# End and sep combination

In [64]:
print(1,2,end=' ')
print(3,'.',sep='')

1 2 3.