# Sets

In [162]:
myset = {1,2,3,4,5}
myset

{1, 2, 3, 4, 5}

In [163]:
len(myset)

5

In [164]:
my_set = {1,1,2,2,3,3}    # Duplicates are not allowed in sets
my_set

{1, 2, 3}

In [165]:
myset1 = {1.79,2.80,3.45,4.89,5.13}   # set of floats
myset1

{1.79, 2.8, 3.45, 4.89, 5.13}

In [166]:
myset2 = {'asif','John','tyrion'}    # set of strings
myset2

{'John', 'asif', 'tyrion'}

In [167]:
myset3 = {10,20,'Hola',(11,22,33)}   # mixed datatype
myset3

{(11, 22, 33), 10, 20, 'Hola'}

In [168]:
myset3 = {10,20,'Hola',[11,22,33]}   # set doesnot allow mutable items like lists 
myset3

TypeError: unhashable type: 'list'

In [ ]:
myset4 = set()        # Creating a empty set
print(type(myset4))

In [ ]:
myset_1 = set(('one','two','three','four'))
myset_1

In [ ]:
print(myset_1)

# Loop through a set

In [ ]:
myset = {'one','two','three','four','five','six','seven','eight'}

print(myset)

for i in myset:
    print(i)

In [ ]:
for i in enumerate(myset):
    print(i)

# Set membership

In [ ]:
myset

In [ ]:
'one' in myset  # checks if 'one' is in set or not

In [ ]:
'Two' in myset   # strings - case sensitive

In [ ]:
'ten' in myset

In [ ]:
if 'three' in myset:
    print('Three is present in the set')
else:
    print('Three is not present in the set')

In [ ]:
if 'Twelve' in myset:
    print('Twelve is present in the set')
else:
    print('Twelve is not present in the set')

# Add or remove items from the list

In [ ]:
myset

In [ ]:
myset.add('Nine')   # add a single item to set
myset

In [ ]:
myset.update(['Ten','Eleven','Twelve'])  # add multiple items to set
myset

In [ ]:
myset.remove('Five')

In [ ]:
myset.remove('five')   # remove item using remove() method
myset

In [ ]:
myset.discard('six')    # remove item using discard() method
myset

In [ ]:
# unlike remove() , discrd() doesnt return with errors

myset.discard('twenty')    
myset

In [ ]:
myset.clear()     # deletes all items, becomes a nullset
myset

In [ ]:
del myset      # deletes the set

In [ ]:
myset

In [ ]:
myset ={'one','two','three','four','five','six','seven','eight'}
myset

In [ ]:
myset1 = myset     # creating a new reference set
myset1

In [ ]:
id(myset1)==id(myset)

In [ ]:
id(myset), id(myset1)    # for reference set, both addresses will be same

In [ ]:
myset2 = myset.copy()
myset2

In [ ]:
id(myset2) == id(myset)

In [ ]:
id(myset) , id(myset2)    

# copyset is not a refernce set, a new set is created with similar elements so new address

In [ ]:
myset.add('nine')
myset

In [ ]:
myset1
# reference set will also get impacted with any changes with original set

In [ ]:
myset2
# copy set will not get impacted with any changes with original set

# Set operations

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [ ]:
A | B   #union

In [ ]:
A.union(B)

In [ ]:
A.union(B,C)   # A U B U C

In [ ]:
A | B | C   # A U B U C

In [ ]:
A & B   # A intersection B

In [ ]:
A.intersection(B)

In [ ]:
A.intersection(B,C)

In [ ]:
A & B & C

In [ ]:
A - B   # difference

In [ ]:
A.difference(B)

In [ ]:
B - A

In [ ]:
B.difference(A)

In [ ]:
A,B

In [ ]:
A.difference_update(B)
A

# set A is updated with A-B

# symmetric difference

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [ ]:
A ^ B  # set elements in A and B but not in both((A|B)-(A&B))

In [ ]:
(A | B)-(A & B)

In [ ]:
A.symmetric_difference_update(B)
A
# A gets updated with A^B

# Subset , Superset & Disjoint

In [ ]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [ ]:
B.issubset(A)

In [ ]:
A.issuperset(B)

In [ ]:
C.isdisjoint(A)

In [ ]:
B.isdisjoint(A)

# other built in functions

In [ ]:
A = {1,2,3,4,5,6,7,8,9}

In [ ]:
sum(A)

In [ ]:
max(A)

In [ ]:
min(A)

In [ ]:
len(A)

In [ ]:
list(enumerate(A))

In [ ]:
A1 = sorted(A,reverse=True)
A1

In [ ]:
sorted(A1)

# Dictionary

In [ ]:
mydict = dict()    # empty dictionary creation
mydict             # dict() is a built-in constructor used to create dictionary objects

In [ ]:
mydict = {}
mydict

In [ ]:
mydict = {1:'one', 2:'two', 3:'three'}
mydict

In [ ]:
mydict = dict({1:'one', 2:'two',3:'three'})
mydict

# dict() is a built-in constructor used to create dictionary objects

In [ ]:
mydict = {'A':'one','B':'two','C':'three'}   # dict with character key
mydict

In [ ]:
mydict = {1:'one','A':'two',3:'three'}  # dict with mixed keys
mydict

In [ ]:
mydict.keys()   # returns the keys

In [ ]:
mydict.values()  # return the values

In [ ]:
mydict.items()    # returns key-value pairs(items)

In [ ]:
mydict = {1:'one', 2:'two', 'A':['Asif','John','wick']}
mydict

In [ ]:
mydict = {1:'one', 2:'two', 'A':['Asif','John','wick'],'B':('bat','cat','hat')}
mydict

In [ ]:
mydict = {1:'one', 2:'two', 'A':{'name':'Asif','John':'wick'},'B':('bat','cat','hat')}
mydict

In [ ]:
keys = {'a','b','c','d'}
mydict3 = dict.fromkeys(keys)    # creating dict using sequence of keys
mydict3

In [ ]:
keys = {'a','b','c','d'}
value = 10
mydict3 = dict.fromkeys(keys,value)     # creating dict using sequence of keys and a value
mydict3

In [ ]:
keys = {'a','b','c','d'}
value = [10,20,30] 
mydict3 = dict.fromkeys(keys,value)
mydict3

In [ ]:
value.append(40)
mydict3

# Accessing items

In [169]:
mydict = {1:'one',2:'two',3:'three',4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [170]:
mydict[1]   # access the value using the key

'one'

In [171]:
mydict.get(1)   # access the value using get()

'one'

In [172]:
mydict.get(5)  
# Return the value for key if key is in the dictionary, else default.

In [173]:
mydict1 = {'Name':'Arif', 'ID':12345, 'Dob':1991,'Address':'Hyderabad'}
mydict1

{'Name': 'Arif', 'ID': 12345, 'Dob': 1991, 'Address': 'Hyderabad'}

In [174]:
# changing dictionary items

mydict1['Dob'] = 1992
mydict1['Address'] = 'Goa'
mydict1

{'Name': 'Arif', 'ID': 12345, 'Dob': 1992, 'Address': 'Goa'}

In [175]:
dict1 = {'Dob':1995}
mydict1.update(dict1)    # update the key-value pair
mydict1

{'Name': 'Arif', 'ID': 12345, 'Dob': 1995, 'Address': 'Goa'}

In [176]:
mydict1['Job'] = 'Analyst'    # adding items in the dict
mydict1

{'Name': 'Arif', 'ID': 12345, 'Dob': 1995, 'Address': 'Goa', 'Job': 'Analyst'}

In [177]:
mydict1.pop('Job')      # removing items using pop method
mydict1

{'Name': 'Arif', 'ID': 12345, 'Dob': 1995, 'Address': 'Goa'}

In [178]:
mydict1.popitem()       # A random item is removed

('Address', 'Goa')

In [179]:
mydict1

{'Name': 'Arif', 'ID': 12345, 'Dob': 1995}

In [181]:
del[mydict1['ID']]      # removing using del method
mydict1

{'Name': 'Arif', 'Dob': 1995}

In [182]:
del mydict1            # Delete the dict object
mydict1

NameError: name 'mydict1' is not defined

# Copy Dictionary

In [183]:
mydict = {'Name':'Arif', 'ID':12345, 'Dob':1991,'Address':'Hyderabad'}
mydict

{'Name': 'Arif', 'ID': 12345, 'Dob': 1991, 'Address': 'Hyderabad'}

In [184]:
mydict1 = mydict

In [185]:
id(mydict1) == id(mydict)

True

In [186]:
mydict2 = mydict.copy()
mydict2

{'Name': 'Arif', 'ID': 12345, 'Dob': 1991, 'Address': 'Hyderabad'}

In [187]:
id(mydict2) == id(mydict)

False

In [188]:
mydict['Address'] = 'Mumbai'

In [190]:
print(mydict)
print(mydict1)    # reference dict will be impacted by change in original dict
print(mydict2)    # copy dict will not be impacted with change in original dict

{'Name': 'Arif', 'ID': 12345, 'Dob': 1991, 'Address': 'Mumbai'}
{'Name': 'Arif', 'ID': 12345, 'Dob': 1991, 'Address': 'Mumbai'}
{'Name': 'Arif', 'ID': 12345, 'Dob': 1991, 'Address': 'Hyderabad'}

# Loop through a Dictionary

In [191]:
mydict1

{'Name': 'Arif', 'ID': 12345, 'Dob': 1991, 'Address': 'Mumbai'}

In [192]:
mydict1['Job'] = 'Data Analyst'
mydict1

{'Name': 'Arif',
 'ID': 12345,
 'Dob': 1991,
 'Address': 'Mumbai',
 'Job': 'Data Analyst'}

In [195]:
for i in mydict1:
    print(i)                 # Returns only keys

Name
ID
Dob
Address
Job

In [196]:
for i in mydict1:
    print(i,':',mydict1[i])   # Returns key-value pair

Name : Arif
ID : 12345
Dob : 1991
Address : Mumbai
Job : Data Analyst

In [202]:
for i in mydict1:
    print(mydict1[i])         # Returns only values

Arif
12345
1991
Mumbai
Data Analyst

# Dictionary membership

In [203]:
mydict1

{'Name': 'Arif',
 'ID': 12345,
 'Dob': 1991,
 'Address': 'Mumbai',
 'Job': 'Data Analyst'}

In [204]:
'Name' in mydict1

True

In [205]:
'Age' in mydict1

False

In [207]:
'id' in mydict1

False

# All - Any methods

In [208]:
mydict1

{'Name': 'Arif',
 'ID': 12345,
 'Dob': 1991,
 'Address': 'Mumbai',
 'Job': 'Data Analyst'}

In [209]:
all(mydict1)    # Returns false if even one value is false(0)

True

In [210]:
any(mydict1)

True

In [214]:
mydict1['ID'] = '000'
mydict1

{'Name': 'Arif',
 'ID': '000',
 'Dob': '1990',
 'Address': 'Mumbai',
 'Job': 'Data Analyst'}

In [215]:
all(mydict1)

True

In [216]:
any(mydict1)

True