# variables in python

In [2]:
first_name = 'M G'

In [3]:
last_name = 'Shiva'

In [4]:
country = 'India'

In [5]:
state = 'Telangana'

In [6]:
city= 'Hyderabad'

In [7]:
age= 999

In [8]:
is_married = False

In [9]:
skills = ['HTML', 'CSS', 'PYTHON', 'JAVA']

In [50]:
per_info = {'firstname' : 'Asabeneh',
            'lastname' : 'Yetayeh',
            'country' : 'Finland',
            'city' : 'Helsinki'
              }

In [11]:
# Printing the values stored in the variables

In [45]:
print('First name:',first_name)
print('First name lenth:', len(first_name))
print('Last name:', last_name)
print('Last name length:', len(last_name))
print('country:', country)
print('state:',state)
print('city:', city)
print('Age:', age)
print('Married:', is_married)
print('Skills:', skills)

print()
print('\n')

print('Personal information:',per_info)

First name: Asabeneh
First name lenth: 8
Last name: Yetayeh
Last name length: 7
country: Helsinki
state: Telangana
city: Hyderabad
Age: 777
Married: True
Skills: ['HTML', 'CSS', 'PYTHON', 'JAVA']



Personal information: {'firstname': 'Asabeneh', 'lastname': 'Yetayeh', 'country': 'Finland', 'city': 'Helsinki'}

In [32]:
# Declaring the multiple variables in one line

In [33]:
first_name, last_name, country, age, is_married = 'Asabeneh', 'Yetayeh', 'Helsinki', 777, True

In [34]:
print(first_name, last_name, country, age, is_married)

Asabeneh Yetayeh Helsinki 777 True

In [35]:
print('First name:', first_name)

First name: Asabeneh

In [36]:
print('Last name:', last_name)

Last name: Yetayeh

In [37]:
print('Country:', country)

Country: Helsinki

In [40]:
print('Age:',age)

Age: 777

In [41]:
print('Married:',is_married)

Married: True